<!doctype html>
<html>
  <head>
    <title>Hello from Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  </head>
  <body style="padding: 5px">
    {% for entry in entries %}
    <div>
      <h2 style="color: purple">{{ entry.title }}!</h2>
      <div class="purple">{{ entry.body }}</div>
      <p class="orange"><strong>ID: {{ entry.id }}</strong></p>
      <hr>
    </div>
    {% endfor %}
  </body>
</html>
